<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    
    <table class="table">
        <thead>
            <tr>
                <td>Дата</td>
                <td>01.07.2022</td>
            </tr>
            <tr>
                <td>ФИО</td>
                <td>Степанов Степан Степанович</td>
            </tr>
            <tr>
                <td>Причина</td>
                <td>Курил</td>
            </tr>
        </thead>
    </table>
</body>
</html>